body{
    margin:0px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navigation{
    max-width: 100%;
    animation-name: slidedown;
    animation-duration: 1s;
}
.navigation img{
    width: 40px;
    height: 40px;
}
.navigation ul{
    list-style-type: none;
    background-color:rgb(89, 155, 247);
    margin:0px;
    padding:0px;
    overflow: hidden;
    display: block;
}
.navigation li{
    float:left;
    display: grid;
}
.nav{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navigation a{
    position: relative;
    color: black;
    padding:10px;
    text-align: center;
    display:block;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10rem;
}
.navigation a:hover{
    color: gray;
    background-color: rgb(4, 54, 134);
}
.nav {
    margin-left:400px;
}
.nav li{
    margin: 10 100px;
}
.logo {
    flex: 0 0 auto;
}
#ins{
    background-color: whitesmoke;
    color:black;
    border: none;
    height: 80px;
    width: 150px;
    margin-left: 300px;
    margin-top: 30px;
    background-image: linear-gradient(to left, rgb(34, 52, 220),rgb(115, 149, 248));
    border-radius: 10%;
    font-size: 20px;
    transition: background-image 0.3s ease;
}   
#ins:hover{
    background-image: linear-gradient(to left,rgb(115, 149, 248), rgb(34, 52, 220));
    animation-name: rotation;
    animation-duration: 1s;
    animation-delay: 0.1s;
    
}
img{
    float: right;
    width: 500px;
    height: 400px;
    padding-right:100px;
    padding-left: 100px;
}

#nom{
    font-size: 35px;
    padding-left: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tag{
    color: rgb(27, 30, 74);
    padding-left: 75px;
    font-size: 50px;
    font-family: Courier;
}
#def{
    font-size: 30px;
    padding-left: 230px;
    font-family: Garamond;
}
.headline{
    padding-left: 110px;
    animation-name: slideright;
    animation-duration: 1s;
}
#container > div{
    display: grid;
}
.maiin{
    margin-top: 200px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#container img{
    animation-name: slideleft;
    animation-duration: 1.2s;
}
.SE img{
    height: 150px;
    width: 170px;
    padding-left: 30px;
}
.SE {
    font-size: 20px;
    display:grid;
    background-color:rgb(35, 82, 153);
}
.DSI img{
    height: 150px;
    width: 170px;
    padding-left: 30px;
}
.DSI {
    font-size: 20px;
    display:grid;
    background-color:rgb(35, 82, 153);
}
.CPI img{
    height: 150px;
    width: 170px;
    padding-left: 30px;
}
.CPI {
    font-size: 20px;
    display:grid;
    background-color:rgb(35, 82, 153);
}
.MI img{
    height: 150px;
    width: 170px;
    padding-left: 30px;
}
.MI {
    font-size: 20px;
    display:grid;
    background-color: rgb(35, 82, 153);
}
.PME img{
    height: 150px;
    width: 170px;
    padding-left: 30px;
}
.PME{
    font-size: 20px;
    display:grid;
    background-color: rgb(35, 82, 153);
}
#filieres{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 300px;
}
#filieres > div{
    border: 2px solid black;
    margin: 10px;
    width: 22rem;  
    height: 30rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}
#filieres > div h5 {
    text-align: center;
    margin-top: 0px;
}
#filieres > div p {
    text-align: center;
    margin-top: 0px;
}
#filieres > div img {
    padding-left: 90px;
}
#filieres div:hover{
    transform: scale(1.05,1.05);
    box-shadow: 10px 5px 10px;
}
label{
    color: rgb(4, 4, 4);
}
#inscr{
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#inscr table {
    width: 100%;
    table-layout: fixed;
}

#inscr table td, #inscr table th {
    padding: 15px;
    font-size: 18px;
}
@keyframes slideleft {
    from{transform:translateX(300px)}
}
@keyframes slideright {
    from{transform:translateX(-300px)}
}
@keyframes slidedown {
    from{transform:translateY(-300px)}
}
@keyframes rotation {
    100%{transform:rotateX(360deg)}
}
@media (max-width: 768px) {
    .navigation{
        max-width: 770px;
        overflow: auto;
    }
    .navigation ul {
        margin-right:1PX;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        margin: 0;
    }

    .nav li {
        margin: 10px 0;
    }

    #ins {
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .headline, #nom, #tag, #def {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    img {
        width: 100%;
        padding: 0;
    }

    #filieres {
        flex-direction: column;
        margin-top: 20px;
    }

    #filieres > div {
        width: 90%;
        margin: 10px auto;
    }
    
    select:optional{
        width: 160px;
    }
    
    #inscr {
        margin: 20px;
        padding: 10px;
    }
    #inscr input{
        width: 160px;
    }
    #inscr textarea{
        width:160px;
    }
    #Acceuil #filiere #inscr{
        flex-direction: column;
        align-items: center;
    }
}
